---
import TodoVue from '../components/Todo.vue';
import TodoSvelte from '../components/Todo.svelte';
import TodoReact from '../components/Todo.jsx';
import Base from '../layouts/Main.astro';
---

<Base> <!-- Componente Base -->
  <section class="contentTodos">
    <div class="todo">
      <TodoReact:load />
    </div>
    <div class="todo">
      <TodoSvelte:load />
    </div>
    <div class="todo">
      <TodoVue:load />
    </div>
  </section>
</Base>