---
import Meta from '../components/Meta.astro';
import Footer from '../components/Footer.astro';
// import Nav from '../components/Nav.astro';

// const { title = 'Wow my first site with Astro!!' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Meta /> <!-- Meta data -->
  </head>
  <body>
    <main>
      <header>
        <!-- <Nav /> -->
        <div>
          <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
          <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
        </div>
      </header>
      <slot />
    </main>
    <Footer />
  </body>
</html>
