---
import Meta from '../components/Meta.astro';
---

<!doctype html>
<html lang="en">
  <Meta /> <!-- Meta data -->
  <body>
    <main>
      <header>
        <div>
          <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
          <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
        </div>
      </header>
    </main>
  </body>
</html>
